body{
    background-color: hsl(225, 100%, 94%);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}

.main-container{
    background-color: rgb(255,255,255);
    border-radius: 20px;
    box-shadow: 0px 20px 20px 5px hsl(224, 23%, 55%);
    height: 600px;
    overflow: hidden;
    margin: 50px auto;
    width: 350px;   
}

.banner{
    width: 100%;
}

h1{
    font-weight: 900;
}

p{
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    margin: 5px;
}

.text{
    margin: 10px auto 10px auto;
    width: 300px;
}

.plan{
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    height: 100px;
    margin: 20px auto 20px auto;
    vertical-align: middle;
    width: 80%;
}

.left{
    float: left;
    margin-left: 20px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.central{
    display: inline-block;
    position: relative;
    text-align: left;
    top: 50%;
    transform: translate(0, -50%);
}

.right{
    color: hsl(245, 75%, 52%);
    display: inline-block;
    float: right;
    font-weight: 700;
    position: relative;
    text-decoration: underline;
    top: 50%;
    transform: translate(0, -50%);    
}

h2{
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
}

button{
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 7px 10px 1px hsl(224, 23%, 55%);
    color: hsl(225, 100%, 98%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    line-height: 0px;
    margin: 10px auto 20px auto;
    width: 80%;
}
